In [2]:
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

In [3]:
input_data = pd.read_csv(r'C:\Users\AjiteshShukla\OneDrive - Janes\Documents\mera_git\datasets\archive (1)\Salary_dataset.csv')

In [4]:
input_data.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [6]:
input_data.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   76004.000000
std      8.803408         2.837888   27414.429785
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  100545.750000
max     29.000000        10.600000  122392.000000

In [7]:
train = input_data[['YearsExperience','Salary']][:20]
test = input_data[['YearsExperience','Salary']][20:]

train_X = input_data[['YearsExperience']][:20]
test_X = input_data[['YearsExperience']][20:]

train_y = input_data[['Salary']][:20]
test_y = input_data[['Salary']][20:]

In [8]:
train = train.to_numpy()
test = test.to_numpy()

train_X = train_X.to_numpy()
test_X = test_X.to_numpy()

train_y = train_y.to_numpy()
test_y = test_y.to_numpy()

In [10]:
from sklearn.linear_model import Lasso

reg = DecisionTreeRegressor().fit(train_X, train_y)

In [11]:
test_y_pred = reg.predict(test_X)

In [13]:
from sklearn.metrics import mean_squared_error, r2_score

# The coefficients
#print("Coefficients: \n", reg.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(test_y, test_y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(test_y, test_y_pred))

Mean squared error: 331772025.70
Coefficient of determination: -2.58

In [21]:
regressor = DecisionTreeRegressor(random_state=0)
cross_val_score(regressor, train_X, train_y, cv=5)

array([-0.29163626,  0.19145254, -1.52883151,  0.56150334, -1.75111436])